body {
  background-image: url("../images/project-background-1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  color: white;
  z-index: 1;
}

.form-control-borderless {
  border: none;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.card-sm {
  position: relative;
  top: 300px;
}

.jumbotron {
  position: relative;
  top: 100%;
  background: rgba(250, 250, 250, 0);
}

h2,
h3 {
  text-align: center;
}

i {
  color: black;
  height: 5px;
  width: 5px;
}

#heading-box {
  background-color: darkgreen;
  opacity: 0.8;
  z-index: 1;
  width: 65%;
  /* height: 170px; */
  height: 12rem;
  position: relative;
  top: 30px;
  padding: 20px;
}

#instructions {
  opacity: 100%;
  z-index: 99;
  position: relative;
  bottom: 125px;
  width: 60%;
  /* height: 140px; */
  height: fit-content;
  border: solid white 5px;
  padding: 10px;
}

/* p,
h5 {
  color: black;
} */

.card-img-top {
  margin-top: 10px;
  width: 100%;
  height: 300px;
}

.card.col-md-5 {
  margin-block-end: 15px;
  padding-bottom: 15px;
  background-color: rgb(169, 84, 27, 0.9);
  color: white;
}
