body {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  color: white;
}

.form-control-borderless {
  border: none;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.card-sm {
  position: relative;
  top: 300px;
}

.jumbotron {
  position: relative;
  top: 100%;
  background: rgba(250, 250, 250, 0);
}

h1,
h2 {
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

i {
  color: black;
  height: 5px;
  width: 5px;
}

#heading-box {
  background-color: darkgreen;
  opacity: 0.8;
  z-index: 1;
  width: 65%;
  height: 150px;
  position: relative;
  top: 30px;
  padding: 20px;
}

#instructions {
  opacity: 100%;
  z-index: 2;
  position: relative;
  bottom: 110px;
  width: 1100px;
  border: solid white 5px;
  padding: 10px;
}
p,
h5 {
  color: black;
}
