body {
  background-image: url(../images/adventure-canyon-creek-227677.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.form-control-borderless {
  border: none;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.card-sm {
  position: relative;
  top: 150px;
}

.jumbotron {
  position: relative;
  top: 150px;
}

footer { 


  font: white;



}